textarea {
    font-family: monospace;
    height: 150px;
    width: 100%;
}

td.cell {
    margin: 0;
    padding: 0;
    border: 1px solid black;

    font-size: 4;
    height: 10px;
    width: 10px;
    overflow: hidden;
}

ul.cell-ships {

}

li.cell-ships-owner {

}

div.cell-planet {

}

tr.board-row {

}

div.board-error {
    color: red;
}

span.board-turn {

}

span.board-victor {
    font-weight: bold;
}

table.game-board {
    width: 100%;
    /*height: 100%;*/
}

table.game-table {
    width: 100%;
    border: 1px solid black;
}

table.game-table td.game-table-code {
    height: 50%;
    width: 25%;
}

table.game-table td.game-table-board {
    height: 100%;
    width: 75%;
}